*.py[cod]
__pycache__/
*.so
env/
venv/
ENV/
.venv/
.Python
.vscode/
.idea/
*.swp
*.swo
*.swn
*.log
*.pot
*.tmp
*.temp
*.out
*.db
*.sqlite3
db.sqlite3-journal
/staticfiles/
/media/
/*.media
**/migrations/__pycache__/
**/migrations/*.pyc
**/migrations/*.pyo
node_modules/
package-lock.json
yarn.lock
.coverage
coverage.xml
htmlcov/
.pytest_cache/
.tox/
.nox/
local_settings.py
.env
*.bak
*.~*~
*.orig
*.rej
*.sublime-workspace
*.sublime-project
*.sql

data/